[Desktop Entry]
Type=Application
Name=hello_robot_devices_ping
Exec= /usr/bin/hello_robot_devices_ping.sh
Hidden=false
X-GNOME-Autostart-enabled=true
